:host {
  .container {
    background: linear-gradient(180deg, #C38361 0%, #100D29 100%);
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    &-main {
      height: 100%;
      width: 100%;
      max-width: 900px;
    }
  }
}
